p, body {
   color: black  ;
   fond-size: 40px;
}

a[href='#']{
   color: black;
}

a[href='products.html']{
   color: black;
}

.main-content {
   wigth:800px;
   margin-center:0 auto;
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;
  background-color: #F89C3C  ;
}

li {
  font-size: 25px;
  float: right;
}

li a {
  display: block;
  color: black;
  padding: 10px 50px;
  text-decoration: none;
}

li a:hover {
  background-color: grey;
}

.active {
  background-color: #4CAF50;
}

.nz-dropcap,
	.nz-dropcap.empty {
		display: block;
		float: left;
		font-size:20px;
		line-height: 15px;
		margin: 8px 8px 0 0;
	}

	.nz-dropcap.full {
		background-color: #222;
		color: #fff;
		border-radius: 3px;
		padding: 14px 10px 15px 10px;
	}

#span_ff88_7{background-color:#f0634c;}


h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

.nz-overlay-before, {
			background-image: url(../images/plus%402.png);
			background-size:30px 30px;
		}

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
  overflow: hidden;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.title {
  color: grey;
  font-size: 18px;
}